{% use 'bootstrap_3_layout.html.twig' %}
{% form_theme form with 'forms/form_errors.html.twig' %}

<div class="form-group">
    {{ form_label(form.username, 'Username', { 'label_attr': {'class': 'col-md-3 control-label'} }) }}
    <div class="col-md-9">
        {{ form_widget(form.username , {'attr': {'class': 'form-control','placeholder' : 'Username'  }}) }}
        {{ form_errors(form.username) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.password.first, 'Password', { 'label_attr': {'class': 'col-md-3 control-label'} }) }}
    <div class="col-md-9">
        {{ form_widget(form.password.first , {'attr': {'class': 'form-control','placeholder' : 'Password'  }}) }}
        {{ form_errors(form.password.first) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.password.second, 'Re-type Password', { 'label_attr': {'class': 'col-md-3 control-label'} }) }}
    <div class="col-md-9">
        {{ form_widget(form.password.second , {'attr': {'class': 'form-control','placeholder' : 'Re-type Password'  }}) }}
        {{ form_errors(form.password.second) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.name, 'Full Name', { 'label_attr': {'class': 'col-md-3 control-label'} }) }}
    <div class="col-md-9">
        {{ form_widget(form.name , {'attr': {'class': 'form-control','placeholder' : 'Full Name'  }}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.email, 'Email', { 'label_attr': {'class': 'col-md-3 control-label'} }) }} 
    <div class="col-md-9">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
            </span>
            {{ form_widget(form.email , {'attr': {'class': 'form-control','placeholder' : 'Email Address' }}) }}
        </div>
    </div>
</div>
<div class="form-group">
    {{ form_label(form.addresse, 'Address', { 'label_attr': {'class': 'col-md-3 control-label'} }) }}
    <div class="col-md-9">
        {{ form_widget(form.addresse , {'attr': {'class': 'form-control','placeholder' : 'Addresse'  }}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.city, 'City/Town', { 'label_attr': {'class': 'col-md-3 control-label'} }) }}
    <div class="col-md-9">
        {{ form_widget(form.city , {'attr': {'class': 'form-control','placeholder' : 'City/Town'  }}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.country, 'Country', { 'label_attr': {'class': 'col-md-3 control-label'} }) }}
    <div class="col-md-9">
        {{ form_widget(form.country , {'attr': {'class': 'form-control','placeholder' : 'Country'  }}) }}
    </div>
</div>